/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 62rem; // 620px
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem; // 100px
    padding-right: 2.4rem; // 24px
    padding-left: 2.4rem; // 24px
    min-height: 100vh;
    background-color: #fff;
}
